<!-- prettier-ignore -->
{% extends 'base.html'%} 
{% block title%} Post {{post.id}} {% endblock%}
<!--  -->
{% block content %}
<!-- HTML BODY TAG CONTENT OF WEBPAGE -->

<div id="post_container">
	<h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p><i> By {{ post.author_user.first_name }} {{ post.author_user.last_name }} </i></p>
</div>
<form id="cancel_button_form" action="/users/{{ post.author_user.id }}">
    <button> &lt; Cancel &lt; </button>
</form>
<form id="edit_button_form" action="/posts/{{ post.id }}/edit">
    <button>Edit</button>
</form>

<form
    id="delete_button_form"
    action="/posts/{{ post.id }}/delete"
    method="POST">
    <button>X Delete X</button>
</form>
{% endblock %}
